Repository andrewteece/ai-powered-job-prep: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

ci: fix pnpm setup in GitHub Actions
  .github/workflows/ci.yml
Due: none

chore: add typecheck script
  package.json
Due: prettier --write

chore: update pnpm-lock.yaml after deps changes
  pnpm-lock.yaml
Due: none

test: fix Vitest setup by adding server mock and navigation mocks
  src/test/server.ts
Due: prettier --write, eslint --fix --max-warnings=0

test: add smoke test so Vitest has a file to run
  src/test/smoke.test.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: update README
  .prettierignore
  .prettierrc
  .prettierrc.json
  package.json
  test/server.ts
  test/setup.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore(config): refine CI, lint/format ignores, build toolchain, and lockfile
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  eslint.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

feat(auth): Clerk wiring (provider, middleware, sign-in route) and server utilities
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/sign-in/[[...sign-in]]/page.tsx
  src/middleware.ts
  src/server/env.ts
  src/services/clerk/comnponents/ClerkProvider.tsx
Due: prettier --write, eslint --fix --max-warnings=0

ci: pass Clerk publishable key to build (and fail early if missing)
  .github/workflows/ci.yml
Due: none

chore: add .env.example
  .env.example
Due: none

ci: add Next.js cache + job-level Clerk env; feat: add protected /dashboard page
  .github/workflows/ci.yml
  src/app/dashboard/page.tsx
Due: prettier --write, eslint --fix --max-warnings=0

chore: integrate Arcjet middleware with Clerk auth
  package.json
  pnpm-lock.yaml
  src/middleware.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: add @t3-oss/env-nextjs with type-safe env setup and integrate with Arcjet middleware
  package.json
  pnpm-lock.yaml
  src/data/env/client.ts
  src/data/env/server.ts
  src/middleware.ts
  src/server/env.ts
Due: prettier --write, eslint --fix --max-warnings=0

style: update globals.css; chore: add components.json and lib setup
  components.json
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/lib/utils.ts
Due: prettier --write, eslint --fix --max-warnings=0

style(theme): integrate shadcn and apply custom tweakcn theme
  src/app/globals.css
Due: prettier --write

style: update globals.css for theme tweaks; chore: adjust env schema in server.ts
  src/app/globals.css
  src/data/env/server.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs(contributing): add CONTRIBUTING.md and .gitmessage template
  .gitmessage
  CONTRIBUTING.md
Due: prettier --write

docs(pr-template): add pull request checklist and guidance
  .github/pull_request_template.md
Due: prettier --write

docs(issue-templates): add bug report and feature request templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

feat(theme): install next-themes and integrate in layout
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(ui): add shadcn button and dropdown-menu components
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(theme): add ThemeToggle component and next-themes dependency
  package.json
  pnpm-lock.yaml
  src/components/theme-toggle.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(theme): add ThemeToggle to home page
  src/app/page.tsx
Due: prettier --write, eslint --fix --max-warnings=0

style(theme): update dropdown menu colors for ThemeToggle
  src/components/ui/dropdown-menu.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(db): add PostgreSQL Docker setup and Drizzle configuration
  .env.example
  docker-compose.yml
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  src/data/env/server.ts
  src/drizzle/db.ts
  src/drizzle/schema.ts
  src/drizzle/schema/interview.ts
  src/drizzle/schema/jobinfo.ts
  src/drizzle/schema/question.ts
  src/drizzle/schema/user.ts
  src/drizzle/schemaHelpers.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(db): correct JobInfo import in Interview schema
  src/drizzle/schema/interview.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(db): correct imports
  src/drizzle/schema/user.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(db): correct imports
  docker-compose.yml
  drizzle.config.ts
  drizzle/0000_reflective_kat_farrell.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  package.json
  src/app/api/health/route.ts
  src/drizzle/schema/user.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: update .gitignore for tooling, DB artifacts, and editor cruft
  .gitignore
Due: none

fix(layout): move ClerkProvider inside body and add suppressHydrationWarning
  src/app/layout.tsx
Due: prettier --write, eslint --fix --max-warnings=0

fix(theme): hydration-safe ThemeToggle with radio group and proper icon states
  src/components/theme-toggle.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(auth): add Clerk webhook handlers and supporting features
  src/app/api/webhooks/clerk/route.ts
  src/features/users/db.ts
  src/features/users/dbCache.ts
  src/lib/dataCache.ts
Due: prettier --write, eslint --fix --max-warnings=0

ci: fix env handling for DB_* and allow SKIP_ENV_VALIDATION in CI builds
  .github/workflows/ci.yml
Due: none

feat(auth): integrate Clerk webhooks with Svix and Drizzle
  package.json
  pnpm-lock.yaml
  src/app/api/webhooks/clerk/route.ts
  src/data/env/server.ts
Due: prettier --write, eslint --fix --max-warnings=0

ci/env: refine CI workflow and env validation for Clerk webhooks
  .github/workflows/ci.yml
  src/data/env/server.ts
Due: prettier --write, eslint --fix --max-warnings=0

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md,css}
  eslint --fix --max-warnings=0: any of: *.{ts,tsx,js,jsx}
